# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ source files
[*.{c,cpp,cc,cxx,h,hpp,hxx,cu,cuh}]
indent_style = space
indent_size = 4

# CMake
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

# Visual Studio files
[*.{natvis,xml}]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
