[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
