[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/cubd"]
	path = ext/cubd
	url = https://github.com/shocker-0x15/CUBd.git
[submodule "ext/Displacement-MicroMap-BaryFile"]
	path = ext/Displacement-MicroMap-BaryFile
	url = https://github.com/NVIDIAGameWorks/Displacement-MicroMap-BaryFile.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
